@import "@/styles/tailwind.css";

.description {
  @apply mb-8 text-gray-500;
}

.informerContainer {
  @apply flex items-center flex-wrap mb-8 bg-gray-100 p-6 pb-3 rounded-2xl;
}

.informer {
  @apply me-10 mb-3 text-xl;
}

.textWrap {
  @apply wrap-break-word!;
}

:global(html.dark) {
  .informerContainer {
    @apply bg-gray-900;
  }
}
