@import "@/styles/tailwind.css";

.shared-line {
  @apply border-b border-gray-200 dark:border-gray-700;
}

.shared-line-dashed {
  @apply border-b border-dashed border-gray-200 dark:border-gray-700;
}
