@import "@/styles/tailwind.css";

.title {
  @apply text-base font-bold mb-2.5 uppercase text-gray-900;
  @apply dark:text-white;
}

.section {
  @apply flex flex-wrap -mr-5;
  @apply max-[520px]:mr-0;
}

.link {
  @apply flex items-center h-[60px] px-5 py-2.5
           w-[calc(50%-20px)] mr-5 mb-5
           rounded-xl font-semibold text-base leading-[1.1]
           bg-gray-100 text-gray-900;
  @apply max-[520px]:w-full max-[520px]:mr-0;

  @apply dark:bg-neutral-800 dark:text-white;
}

.link:hover {
  @apply bg-gray-200;
  @apply dark:bg-neutral-700;
}

.link i {
  @apply mr-2.5 text-gray-400;
}

/* 
.title {
  font-size: rem(16);
  font-weight: 700;
  margin-bottom: rem(10);
  color: $dark;
  text-transform: uppercase;
}

.section {
  margin-right: rem(-20);
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 520px) {
    margin-right: 0;
  }
}

.link {
  padding: rem(10) rem(20);
  height: rem(60);
  color: $dark !important;
  background: $gray-1;
  margin: 0 rem(20) rem(20) 0;
  width: calc(50% - rem(20));
  border-radius: rem(12);
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: rem(16);
  line-height: 1.1;

  i {
    margin-right: rem(10);
    color: $gray-4;
  }

  &:hover {
    background: $gray-2;
  }

  @media (max-width: 520px) {
    width: 100%;
    margin-right: 0;
  }
}

// dark theme
[data-theme="dark"] {
  .title {
    color: $white;
  }

  .link {
    color: $white !important;
    background: $dark-gray-5;

    &:hover {
      background: $dark-gray-4;
    }
  }
} */
