@import "@/styles/tailwind.css";

/* 
.timeline {
  :global(.ant-timeline-item-content) {
    margin-left: rem(40);
  }

  :global(.ant-timeline-item-last) {
    > :global(.ant-timeline-item-tail) {
      display: block;
      height: calc(100% - rem(40));
    }
  }

  :global(.ant-timeline-item-tail) {
    inset-inline-start: rem(15);
    height: calc(100% - rem(22));
  }

  :global(.ant-timeline-item-head) {
    background: transparent;
    inset-block-start: rem(6);
    inset-inline-start: rem(16);
    font-size: rem(21);
  }

  &Status {
    ol {
      padding-left: rem(0);

      li {
        position: relative;
        list-style: none;
        background: $gray-1;
        padding: rem(5);
        border-radius: rem(8);

        &.Done {
          background: rgba($success, 0.1) !important;

          &::before {
            background: $success !important;
          }
        }

        &.Active {
          background: rgba($primary, 0.07) !important;

          &::before {
            background: $primary !important;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: rem(13);
          left: rem(-29);
          display: block;
          height: rem(10);
          width: rem(10);
          background: $gray-1;
          border-radius: 100%;
        }
      }
    }
  }
}

.Tag {
  background: $gray-2;
  display: inline-block;
  line-height: 1.3;
  border-radius: rem(8);
  padding: rem(4) rem(8);

  &Success {
    background: $success !important;
    color: $white !important;
  }

  &Primary {
    background: $primary !important;
    color: $white !important;
  }

  &Gray {
    background: $gray-4 !important;
    color: $white !important;
  }
}

// dark theme
[data-theme="dark"] {
  .timeline {
    :global(.ant-timeline-item-head-blue) {
      color: $blue-light !important;
    }

    &Status {
      ol {
        padding-left: rem(0);

        li {
          background: $dark-gray-5;

          &::before {
            background: $dark-gray-4;
          }

          &.Active {
            background: rgba($blue-light, 0.07) !important;

            &::before {
              background: $blue-light !important;
            }
          }
        }
      }
    }
  }

  .Tag {
    background: $dark-gray-4;

    &Primary {
      background: $blue-light !important;
    }

    &Gray {
      background: $dark-gray-3 !important;
    }
  }
} */
