@import "@/styles/tailwind.css";

.informer {
  line-height: 1.3;
}

.title {
  @apply flex items-center text-gray-500 text-sm font-bold;
}

.title svg,
.copy svg {
  @apply ms-1;
  width: 1.1em;
  height: 1.1em;
}

.body {
  @apply flex text-black;
  @apply dark:text-white;
}

.copy {
  @apply text-gray-500 cursor-pointer;
}

:global(html.dark) {
  .body {
    @apply text-white;
  }
}
