@import "@/styles/tailwind.css";

.informer {
  line-height: 1.3;
}

.sameSize .postfix {
  font-size: 100%;
}

.title {
  @apply flex items-center text-gray-500 text-sm font-bold;
}

.title svg {
  @apply ms-1;
  width: 1.1em;
  height: 1.1em;
}

.body {
  @apply text-black;
  @apply dark:text-white;
}

.postfix {
  @apply text-gray-500;
  font-size: 75%;
}

:global(html.dark) {
  .body {
    @apply text-white;
  }
}
