@import "@/styles/tailwind.css";

.mb-1 {
  @apply mb-1;
}

.mb-2 {
  @apply mb-2;
}

.mb-3 {
  @apply mb-3;
}

.mb-4 {
  @apply mb-4;
}

.mb-5 {
  @apply mb-5;
}

.mb-6 {
  @apply mb-6;
}

.mb-8 {
  @apply mb-8;
}

.mb-10 {
  @apply mb-10;
}
