@import "@/styles/tailwind.css";

.container {
  @apply bg-gray-100 p-8 pb-2 rounded-lg relative overflow-hidden; 
}

.section {
  @apply mb-5;
}

.sectionTitle {
  @apply text-black text-lg flex items-center mb-2;
}

.sectionAmount {
  @apply text-black text-2xl font-extrabold leading-snug;
}

.sectionAmountLarge {
  @apply text-3xl;
}

.sectionDescr {
  @apply text-gray-500 text-sm leading-5;
}

.address {
  @apply block wrap-break-word pe-5 max-w-70;
}

.icon {
  @apply h-5 w-5 block mr-2 rounded-lg;
}

.iconSuccess {
  @apply bg-green-500;
}

.iconDanger {
  @apply bg-red-500;
}

.iconPrimary {
  @apply bg-blue-500;
}

.iconOrange {
  @apply bg-orange-500;
}

.chart {
  @apply flex gap-1;
}

.chart > div {
  @apply rounded-lg h-15 p-2.5 text-white;
}

.chartOne {
  @apply flex-[0_1_56.56%] bg-green-500;
}

.chartTwo {
  @apply flex-[0_1_15.44%] bg-green-500;
}

.chartThree {
  @apply flex-[0_1_18%] bg-blue-500;
}

.chartFour {
  @apply flex-[0_1_10%] bg-orange-500;
}

/* .section {
  margin-bottom: rem(20);

  &Title {
    color: $dark;
    font-size: rem(18);
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
  }

  &Amount {
    color: $dark;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.3;
  }
}

.icon {
  height: rem(21);
  width: rem(21);
  display: block;
  margin-right: rem(10);
  border-radius: rem(8);

  &Success {
    background: $success;
  }

  &Danger {
    background: $danger;
  }

  &Primary {
    background: $primary;
  }

  &Orange {
    background: $orange;
  }
}

.chart {
  display: flex;
  gap: rem(5);

  > div {
    border-radius: rem(10);
    height: rem(60);
    padding: rem(10) rem(12);
    color: $white;
  }

  &One {
    flex: 0 1 56.56%;
    background: $success;
  }

  &Two {
    flex: 0 1 15.44%;
    background: $success;
  }

  &Three {
    flex: 0 1 18%;
    background: $primary;
  }

  &Four {
    flex: 0 1 10%;
    background: $orange;
  }
}

// dark theme
[data-theme="dark"] {
  .section {
    &Title {
      color: $white;
    }

    &Amount {
      color: $white;
    }
  }
} */
