@import "@/styles/tailwind.css";

/* .section {
  margin-bottom: rem(20);

  &Title {
    color: $dark;
    font-size: rem(18);
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
  }

  &Amount {
    color: $dark;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.3;
  }
}

.icon {
  height: rem(21);
  width: rem(21);
  display: block;
  margin-right: rem(10);
  border-radius: rem(8);

  &Success {
    background: $success;
  }

  &Danger {
    background: $danger;
  }

  &Primary {
    background: $primary;
  }

  &Orange {
    background: $orange;
  }
}

.chart {
  display: flex;
  gap: rem(5);

  > div {
    border-radius: rem(10);
    height: rem(60);
    padding: rem(10) rem(12);
    color: $white;
  }

  &One {
    flex: 0 1 56.56%;
    background: $success;
  }

  &Two {
    flex: 0 1 15.44%;
    background: $success;
  }

  &Three {
    flex: 0 1 18%;
    background: $primary;
  }

  &Four {
    flex: 0 1 10%;
    background: $orange;
  }
}

// dark theme
[data-theme="dark"] {
  .section {
    &Title {
      color: $white;
    }

    &Amount {
      color: $white;
    }
  }
} */
